<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>AF-Contacto</title>
    <meta name="description" content="Pagina AF_Reposteria">
    <link rel="icon"   type="image/png" href= "./../assets/images/LogoAF.png">
    <link rel="stylesheet" href="./../css/estilos.css">
    <script src="./js/javascript.js"></script>

</head>


<body>

    <header>    
    
            <div>
                 <img class="logoAF" src="./../assets/images/Logooro.png"  alt="Logo"><span class="headermsg"> Llamanos, ayudaremos que tengas exito con tu necesidad.</span>
            </div>
                
            <div>              
                    <ul class="upbuttons">
                        <li><a class="especbutton" href="./../indexAFReposteria.html">Inicio</a></li>
                        <li><a class="especbutton" href="./pressupuestos_y_productos.html">Productos</a></li>
                        <li><a class="especbutton" href="./Pedidos.html">Pedidos</a></li>
                    </ul>
                
            </div>
    
    </header>
   
        
    <main class="maincontact"> 
        <div class="padctt ">Atención y pedidos entre lunes y viernes de las 08h a las 19h.  
        <p> Telefone <a><img class="Zapicon" src="./../assets/images/Iconewhatsapp.jpeg" alt="Whatsapp" > </a>: +34 722 889 098 </p>  </div>
        
        <div class="padctt "> <p> <a href="http://www.afreposteria.es">www.afreposteria.es </a>  /  <a href="mailto:amandaadegas@gmail.com">amandaadegas@gmail.com</a></p>     
         Entregas limitadas a Zaragoza.</div>
    
         <div class="padctt ">Para recojer en el local, marcar hora.
        <p>Pedidos especiales y/o personalizados con 5 dias de antelación.</p></div> 


        <div class="logoappctt">                  
            <img class="sizelogoappctt" src="./../assets/images/JustEat.png"  alt="LogoJustEat"><span class="rodapiejusteat" > *Food apps: Acceder directamente.</span>
           
        </div>

 

    </main>




    <footer >    
        <div >
       
            <a href= "https://www.instagram.com/_amandafaber_"> <img class="neticons" src="./../assets/images/Logo_instagram.jpeg" alt="Instagram"> </a>
            <a href= "https://www.tiktok.com/@_amandafaber__?_t=8oLfjd22KzR&_r=1"> <img class="neticons" src="./../assets/images/Logo_tiktok.jpg" alt="TikTok"> </a>
                
                  
                <p>Dirección: Av Juan Carlos I, 3, Zaragoza - 50009</p><a class="downbuttons" href="./views/contacto.html"> Contacto </a> <p><a class="downbuttons" href="./../assets/images/AvisoLegal.pdf"> Política de privacidad</a></p>
    
        </div>
    
    </footer>

</body>

</html>