<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AF-Galeria</title>
    <meta name="description" content="Pagina AF_Reposteria">
    <link rel="icon"   type="image/png" href= "./../assets/images/LogoAF.png">
    <link rel="stylesheet" href="./../css/estilos.css">
    <script src="./../js/javascript.js"></script>
</head>

<body>

<header>     

        <div> 
            <img class="logoAF" src="./../assets/images/Logooro.png" alt="Logo"><span class="headermsg"> Envianos tu pedido o consulta.</span>
        
        </div>
        <nav >              
                <ul class="upbuttons">
                <li><a class="especbutton" href="./../index.html">Inicio</a></li>
                <li><a class="especbutton" href="./pressupuestos_y_productos.html">Productos</a></li>
                <li><a class="especbutton" href="./pedidos.html">Pedidos</a></li>
                <li><a class="especbutton" href="./contacto.html">Contacto</a></li>
             </ul>
            
        </nav>
    
   

</header>

    <div class="container">
        <form id="myform" name= "myform" action="#"  method="get"  target="_self">
    
            <ul class="flex-outter">    
        
                <li>
                    <label for="first-name">Nombre</label>
                    <input type="text" id="first-name" name="first-name" placeholder="Escriba su nombre" pattern="[A-Z a-z] {3,15}" title="Escriba solo  palabras entre 3 y 15 caracteres" required>
                </li>

                <li>
                    <label for="surname">Apellido</label>
                    <input type="text" id="surname" name=surname placeholder="Escriba sus apellidos" pattern="[A-Z a-z] {4,40}" title="Escriba solo palabras entre 4 y 40 caracteres" required>
                </li>

                <li> 
                    <label for="email">Correo electronico</label>
                    <input type="email" id="email" name="email" placeholder="Escriba su correo electronico" pattern="[0-9]{9}" title="Escriba los 9 número de su teléfono móvil" required>

                </li>


                <li> 
                    <label for="telephone">Teléfono </label>
                    <input type="tel" id="telephone" name="telephone" placeholder="Escriba su teléfono" pattern="[A-Za-z0-9_-.]+@[a-z0-9._-]+\[a-z]{2,4} {4,40}" title="Escriba su correo electronico" required>

                </li>

                <li> 
                    <label for="message">Pedido </label>
                    <textarea rows="6" id="message"  placeholder="Escriba su pedido"></textarea>

                </li>

                <li> 
                    <p> Forma de pago </p>
                    <ul class="flex-inner">
                        
                        <li>
                            <input type="radio" id="Credicard" name="Credicard" value="Credicard">
                            <label for="Credicard"> Tarjetas</label>
                                                    </li>

                        <li>
                            <input type="radio" id="Bizum" name="Bizum" value="Bizum">
                            <label for="Bizum"> Bizum</label>
                        </li>

                        <li>
                            <input type="radio" id="Efectivo" name="Efectivo" value="Efectivo">
                            <label for="Efectivo"> Efectivo</label>
                        </li>
                        
                        <li>
                            <input type="radio" id="Politica" name="Politica" value="Politica" required>
                            <label  for="Politica"> He leído y accepto la politica de privacidad</label>
                        </li>

                    </ul>
                        
                                          
                </li>


                <li class="libuttons">
                    <button type="reset">Borrar </button>
                    <button type="submit">Enviar </button>
                </li> 

            </ul>
    
         </form>

    </div>



    <footer >    
        <div >
   
            <a href= "https://www.instagram.com/_amandafaber_"> <img class="neticons" src="./../assets/images/Logo_instagram.jpeg" alt="Instagram"> </a>
            <a href= "https://www.tiktok.com/@_amandafaber__?_t=8oLfjd22KzR&_r=1"> <img class="neticons" src="./../assets/images/Logo_tiktok.jpg" alt="TikTok"> </a>
            
              
            <p>Dirección: Av Juan Carlos I, 3, Zaragoza - 50009</p><a class="downbuttons" href="./views/contacto.html"> Contacto </a> <p><a class="downbuttons" href="./../assets/images/AvisoLegal.pdf"> Política de privacidad</a></p>

        </div>

    </footer>


</body>


</html>