<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AF-Productos</title>
    <meta name="description" content="Pagina AF_Reposteria">
    <link rel="icon"   type="image/png" href= "./../assets/images/LogoAF.png">
    <link rel="stylesheet" href="./../css/estilos.css">
    <script src="./../js/javascript.js"></script>
</head>

<body>
    
    <header>    
    
        <div> <img class="logoAF" src="./../assets/images/Logooro.png" alt="Logo"><span class="headermsg"> Nuestros productos transforman el dia común en inolvidable.</span></div>
        
        <div >              
                <ul class="upbuttons">
                    <li><a class="especbutton" href="./../indexAFReposteria.html">Inicio</a></li>
                    <li><a class="especbutton" href="./Pedidos.html">Pedidos</a></li>
                    <li><a class="especbutton" href="./contacto.html">Contacto</a></li>
                </ul>
        </div>
    
    </header>
    
        
    <main >

        <table class="mainproduct">  
            <Caption> Carta de productos </Caption> 
            <thead>     
                <tr>
                    <th> Producto</th>
                    <th> Cantidad</th>
                    <th> Valor (€)</th>
                    <th> Imagen</th>
                </tr>
            </thead>

            <tbody > 

                <tr class="tbin">
                    <td >Brigadero</td>
                    <td> 12 ud</td>
                    <td> 10</td>
                    <td>  <img src="./../assets/images/Brigadeiro_chocolate.jpg" class="imgproductos"   alt="Brigadeiro" width="1016" height="1225" ></td>
                </tr>
                <tr class="tbin">
                    <td >Brownie</td>
                    <td> 12 ud</td>
                    <td> 10 </td>
                    <td> <img src="./../assets/images/Brownie.jpg" class="imgproductos" alt="Brownie" width="1536" height="2048"> </td>
                </tr>
                <tr class="tbin">
                    <td > Pastel Vaso</td>
                    <td> Individual</td>
                    <td> 5 </td>
                    <td> <img src="./../assets/images/Pastel_Vaso.jpg" class="imgproductos"   alt="Pastel_Vaso" width="1574" height="2048"></td>
                </tr>
                <tr class="tbin">
                    <td >Pastel Fresa</td>
                    <td> 10 personas</td>
                    <td> 20 </td>
                    <td> <img src="./../assets/images/Pastel_Fresa.jpg" class="imgproductos" alt="Pastel_Fresa" width="818" height="919"> </td>
                </tr>
                <tr class="tbin">
                    <td >Tarta Fresa</td>
                    <td> 12 ud </td>
                    <td> 10 </td>
                    <td> <img src="./../assets/images/Tarta_Fresa.jpg" class="imgproductos" alt="Tarta_Fresa" width="1800" height="1800"></td>
                </tr>
                <tr class="tbin">
                    <td >Empada Gambas</td>
                    <td> 12 ud</td>
                    <td> 30 </td>
                    <td> <img src="./../assets/images/Empada.jpg"   class="imgproductos" alt="Empada_Gambas" width="2048" height="1827"></td>
                </tr>
                <tr class="tbin">
                    <td >Quiche Calabacin</td>
                    <td> 20cm</td>
                    <td> 20 </td>
                    <td> <img src="./../assets/images/Quiche_Calabacin.jpeg" class= "imgproductos" alt="Quiche" width="691" height="749"></td>
                </tr>
                <tr class="tbin">
                    <td >Dulces Finos</td>
                    <td> 30ud</td>
                    <td> 50</td>
                    <td> <img src="./../assets/images/Dulces_finos.jpeg" class="imgproductos" alt="Dulces_Finos" width="691" height="749"></td>
                </tr>
                <tr class="tbin">
                    <td >Pan de Queso</td>
                    <td> 300gr </td>
                    <td> 5</td>
                    <td> <img src="./../assets/images/Pan_de_Queso.jpeg" class="imgproductos" alt="Pan_de_Queso" width="1220" height="1367"></td>
                </tr>

            </tbody>
   
        </table>

    </main>


    <footer >    
        <div >
   
            <a href= "https://www.instagram.com/_amandafaber_"> <img class="neticons" src="./../assets/images/Logo_instagram.jpeg" alt="Instagram"> </a>
            <a href= "https://www.tiktok.com/@_amandafaber__?_t=8oLfjd22KzR&_r=1"> <img class="neticons" src="./../assets/images/Logo_tiktok.jpg" alt="TikTok"> </a>
            
              
            <p>Dirección: Av Juan Carlos I, 3, Zaragoza - 50009</p><a class="downbuttons" href="./views/contacto.html"> Contacto </a> <p><a class="downbuttons" href="./../assets/images/AvisoLegal.pdf"> Política de privacidad</a></p>

        </div>

    </footer>




</body>


</html>